
#audioFileInput {
    display: none;
}

#zoomview-container, #overview-container {
    width: 100%;
}
#overview-container {
    height: 60px;
    border-bottom: 1px solid #111111;
}
#zoomview-container {
    height: 320px;
}
#scrollbar-container {
  height: 16px;
  background-color: #ccc;
}

.channel-selector {
    letter-spacing: -0.25rem;
}
