
#zoomview-container, #overview-container {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

#overview-container {
  height: 80px;
  margin-top: 10px;
}

#audioElement {
    display: none;
}

#selectedFileName {
    color: #666;
    font-size: 0.9em;
    margin-left: 10px;
}
